# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/backend/static/main.js
/backend/backend
/backend/vendor

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/static/bundle*
/backend/static/vendor*
/backend/static/*.woff
/backend/static/*.otf
/backend/static/*.ttf
/backend/static/*.js
/backend/static/*.j*

.vscode

node_modules
dist/*

.idea/*