.search {
	display: flex;
	align-items: center;

	&__box {
		width: 100%;
		&__container {
			display: flex;
			align-items: center;
			width: 100%;
		}

		&__container input#search {
			width: inherit;
			height: 40px;
			padding-left: 15px;
			padding-bottom: 5px;
			box-sizing: border-box;
			border: none;
			background-color: #e8f0fe;
		}

		&__container input#search:focus {
			border: none;
			outline: none;
			background-color: #dce6f7;
		}

		&__container input#search::-webkit-input-placeholder {
			color: #65737e;
		}

		&__container input#search:-moz-placeholder {
			/* Firefox 18- */
			color: #65737e;
		}

		&__container input#search::-moz-placeholder {
			/* Firefox 19+ */
			color: #65737e;
		}

		&__container button.icon {
			border: none;
			background: #65737e;
			height: 40px;
			width: 50px;
			color: #fff;
			font-size: 10pt;
		}

		&__container:hover button.icon:hover {
			background: #818181;
		}
	}
}