.cart {

	.cart__table {
		display: flex;
		flex-direction: column;
		margin-top: 70px;

		.cart__item {
			display: flex;
			align-items: center;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
			margin-bottom: 30px;
			max-height: 200px;

			.cart__item__image {
				img {
					max-height: 200px;
				}
			}

			.cart__item__information {
				margin-left: 50px;

				.cart__item__categories {
					display: flex;
					justify-content: space-between;

					td {
						padding-right: 10px;
					}
				}
			}
		}
	}

	.cart__no__product {
		margin-top: 50px;
		font-size: 19px;
	}

}