//#d0eaee;


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary_font;
  background-color: #fff;
}

#root {
  margin: 0 auto;
  width: 70%;
  max-width: 1300px;

  .main {
    display: flex;
    flex-direction: column;
    padding: 0;
    

    .wrapper {
      flex: 1 1 auto;
      position: relative;
      overflow-y: auto;
      width: 100%;

      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: stretch;
        justify-items: center;
        margin: 20px auto;
        

        .product {
          width: 100%;

          .image {
            width: auto;

            .inner {

              img {
                max-width: 100%;
                object-fit: cover;
              }
            }
          }

          .categories {
            text-align: left;
            margin: 10px 0;
          }
        }
      }
    }
  }
}

// img:hover {
//   -moz-transform: scale(1.1) rotate(0.01deg);
//   -webkit-transform: scale(1.1) rotate(0.01deg);
//   -o-transform: scale(1.1) rotate(0.01deg);
//   -ms-transform: scale(1.1) rotate(0.01deg);
//   -webkit-transform: scale(1.1) rotate(0.01deg);
//   transform: scale(1.1) rotate(0.01deg);

//   transition: transform 0.4s ease-in-out;
//   -webkit-transition: transform 0.4s ease-in-out;
//   -moz-transition: transform 0.4s ease-in-out;
//   -ms-transition: transform 0.4s ease-in-out;
// }