/* HEADER */

.nav {
  max-width: 1170px;
  margin: 0 auto;

  .nav-section-container {
    width: 100%;
    display: flex;
    padding: 30px 0;

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      a {
        text-decoration: none;
        img {
          background-image: url('../../public/logo.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  .nav-quicklist {
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

    ul {
      list-style: none !important;
      max-width: 950px;
      display: flex;
      list-style: none;
      justify-content: center;
      text-align: center;
      margin: 0 auto;

      li {
        color: white;
        padding: 0.5rem;
        text-decoration: none;
        flex: auto;
        color: $main_black_color;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  @media all and (max-width: 600px) {
    .nav-quicklist ul {
      flex-wrap: wrap;
    }

    .nav-quicklist ul>li {
      flex-basis: 50%;
    }
  }

  @media all and (max-width: 400px) {
    .nav-quicklist ul>li {
      flex-basis: 100%;
    }

    .nav-quicklist ul {
      order: 1;
    }
  }
}



/* END HEADER */