/* HEADER */

.nav {
  height: 150px;
  background-color: #fff;

  .nav_section_container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid #000;

    .nav_branding {
      display: flex;
      align-items: center;
      width: 100%;

      .logo {
        color: #000;
        font-size: 3.5rem;
        font-family: $logo_font;
        line-height: 0.9;
        text-decoration-color: #c3b7ab;
        text-transform: uppercase;
        -webkit-text-decoration-color: #c3b7ab;
      }

      .cat {
        background-image:url('../../public/logo.png');
        background-repeat:no-repeat;
        background-size: 103px 103px;
        width: 103px;
        height: 103px;
        margin-right: 15px;
        margin-left: 15px;
      }
    }

    .icons {
      width: 30px;
      height: 30px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* END HEADER */