/* HEADER */

.nav {
  height: 190px;
  width: 100%;
  background-color: #fff;

  .nav_section_container {

    width: 100%;

    .nav_branding {
      display: flex;
      justify-content: start;
      align-items: center;
      height: 100%;


      .logo {
        color: #000;
        font-size: 4rem;
        font-family: $logo_font;
        line-height: 1;
        text-decoration-color: #c3b7ab;
        -webkit-text-decoration-color: #c3b7ab;
      }
    }
  }
}

/* END HEADER */