.products {
  display: grid;
  grid-template-columns: fit-content(25%) fit-content(25%) fit-content(25%) fit-content(25%);
  grid-gap: 30px;
  margin: auto;
  font-size: 14px;
  font-weight: 700;

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 270px;

    .image {
     
      .inner {
        
        img {
          max-width: 100%;
          object-fit: fill;
        }
      }
    }

    .prev_desc {
      text-align: left;
      margin: 10px 0;
    }
  }
}