.products {
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(25%) fit-content(25%) fit-content(25%) fit-content(25%);
  grid-template-rows: fit-content(1vh);
  grid-gap: 5em;
  justify-content: center;

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    // max-width: 270px;
    -webkit-animation: reveal 0.5s ease;
    -webkit-animation-fill-mode: backwards;
    animation: reveal 0.5s ease;
    animation-fill-mode: backwards;
    font-size: 1.5rem;
    font-weight: 400;

    .image {
      height: 100%;

      .inner {
        height: 100%;
        img {
          max-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }
    }

    .prev_desc {
      text-align: left;
      margin: 10px 0;
      color: $main_black_color;
    }
  }
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}