.counter {
	display: flex;
	
	$counter_width: 35px;
	$counter_height: 35px;

	.counter__minus,
	.counter__plus {
		display: block;
		width: $counter_width;
		height: $counter_height;
		line-height: $counter_height;
		color: #fff;
		font-size: 2rem;
		background: #b6b6b6;
		text-align: center;
		cursor: pointer;

		span {
			margin: 0;
			padding: 0;
		}
	}

	.counter__minus:hover,
	.counter__plus:hover {
		background: #b6b6b6;
		color: #fff;
	}

	// .counter__plus:active {
	// 	-webkit-transform: translateY(-1em);
	// }

	// .counter__minus:active {
	// 	-webkit-transform: translateY(1em);
	// }

	.counter__input {
		width: $counter_width * 1.5;
		height: $counter_height;
		margin: 0;
		padding: 0;
		text-align: center;
		border-top: 2px solid #b6b6b6;
		border-bottom: 2px solid #b6b6b6;
		border-left: 1px solid #b6b6b6;
		border-right: 2px solid #b6b6b6;
		background: #fff;
		font-weight: 600;
		color: $main_black_color;
		box-sizing: border-box;
	}

	.counter__minus:link,
	.counter__plus:link {
		color: $main_black_color;
	}

	.counter__minus:visited,
	.counter__plus:visited {
		color: #fff;
	}
}