.breadcrumbs {
  display: flex;

  .bc {
    list-style: none;
    box-sizing: border-box;

    span {
      font-family: $nav_links_font;
      display: inline;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      padding: 0 10px 0 10px;
    }

    span:last-child {
      padding: 0 0 0 10px;
    }

    // li+li:before {
    //   padding: 8px;
    //   color: #fff;
    //   content: "/\00a0";
    // }
  }
}