button.btn {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	color: $main_black_color;
	width: 200px;
	font-size: 22px;
	font-weight: 600;
	line-height: 20px;
	padding: 20px 0;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

// button.btn-primary