.auth {
  display: flex;
  justify-content: center;
  width: $content_width_1;
  @include reveal(0.5s);

  .auth-content {
    display: flex;
    flex-direction: column;
    margin: $content_gap 0;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;

    .login {
      width: 500px;
    }
    .registry {
      width: 500px;
    }

    form {
      > div {
        padding: 10px 0;
      }
    }

    .error {
      width: 100%;
    }
  }
}

@media all and (max-width: 1250px) {
  .auth {
    width: $content_width_2;
  }
}

@media all and (max-width: 1575px) and (min-width: 1250px) {
  .auth {
    width: $content_width_2;
  }
}


@media all and (max-width: 1930px) and (min-width: 1575px) {}

@media all and (max-width: 2560px) and (min-width: 1930px) {}