.breadcrumbs {
  display: flex;

  .bc {
    list-style: none;
    box-sizing: border-box;
    font-family: $primary_font;
 
    a {
      color: $main_black_color;
      padding-right: 10px;
      font-weight: 400;
      font-size: 1rem;
    }

    span{
      color: $main_black_color;
      margin-right: 10px;
      font-weight: 600;
      font-size: 1rem;
    }

    span:last-child {
      padding: 0 0 0 0;
    }

    // li+li:before {
    //   padding: 8px;
    //   color: #fff;
    //   content: "/\00a0";
    // }
  }
}