%btn {
	position: relative;
	width: $button_width;
	height: $button_height;
	line-height: $button_height;
	text-align: center;
	font-size: $button_font_size;
	text-transform: $button_text_transform;
	padding: 0;
	border: none;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.5s;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.5s;
		transform: scale(0.5, 0.5);
		background-color: rgba(255,255,255,0.1);
	}

	&:focus {
		outline: 0;
	}

	&:hover::before {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}

	&:hover::after {
		opacity: 1;
		transform: scale(1, 1);
	}
}

.btn-primary {
	@extend %btn;
	background-color: $button_primary_color;
	color: #FFF;
}

.btn-secondary {
	@extend %btn;
	background-color: $button_secondary_color;
	color: #FFF;
}