.cart {
	width: $content_width_1;
	margin: 0 auto;

	&__main {

		margin: $content_gap 0;

		.cart__content {
			display: flex;
			flex-direction: column;
			width: auto;

			.cart__product__item {
				display: flex;
				margin-bottom: $content_gap;
				height: 230px;
				position: relative;
				margin: $content_gap 0;

				.cart__content__item__image {
					display: flex;
					width: 150px;
					margin-right: $content_gap;

					img {
						object-fit: cover;
						width: auto;
					}
				}

				.product__item__content {
					font-size: 1.1rem;
					display: flex;

					.left__content {
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						margin-right: $content_gap;

						.content {
							display: flex;
							flex-direction: column;
							word-wrap: break-word;
							margin-bottom: 30px;
							max-width: 350px;

							span {
								margin: 4px 0;
							}

							.decription {
								font-weight: 600;
								overflow: hidden;
								max-height: 80px;
							}
						}

						.close {
							position: relative;
							overflow: hidden;
							color: #303030;
		
							&:hover {
								cursor: pointer;
		
								&::before,
								&::after {
									background: $main_color;
								}
							}
						}
					}

					.right__content {
						display: flex;
						justify-content: space-between;
						height: 100%;

						.counter {
							margin-right: $content_gap;
						}

						.price {
							font-weight: 600;
							font-size: 1.3rem;
						}
					}
				}
			}
		}
	}

	&__no__product {
		margin-top: 50px;
		font-size: 19px;
	}
}

@media all and (max-width: 1250px) {}

@media all and (max-width: 1575px) and (min-width: 1250px) {
	.cart {
		width: $content_width_2;
	}
}


@media all and (max-width: 1930px) and (min-width: 1575px) {}

@media all and (max-width: 2560px) and (min-width: 1930px) {}