.cart {
	width: $content_width_1;
	margin: 0 auto;

	&__title {
		margin-bottom: 30px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		
		&__item {
			display: flex;
			-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
			margin-bottom: 30px;
			height: 368px;
			position: relative;
			overflow: hidden;
			justify-content: space-between;

			&__image {
				flex: 1;
				display: flex;
				justify-content: center;
				height: 100%;

				img {
					object-fit: cover;
					height: 100%;
					width: auto;
				}
			}

			&__content {
				flex: 2;
				display: flex;
				width: 100%;
				margin: 2rem;
				justify-content: space-between;
				font-size: 1.1rem;

				.information {
					align-self: center;
					width: 100%;

					.description {
						word-wrap: break-word;
						font-weight: 600;
						margin-bottom: 30px;
					}

					.categories {
						display: flex;
						justify-content: space-between;
						width: 100%;

						td {
							padding-right: 10px;
						}
					}

					.price {
						margin-top: 30px;
						font-weight: 600;
						font-size: 1.3rem;
					}
				}
			}

			.close {
				position: relative;
				width: 25px;
				height: 25px;
				margin: 5px;
				overflow: hidden;

				&:hover {
					cursor: pointer;

					&::before,
					&::after {
						background: $main_color;
					}
				}

				&::before,
				&::after {
					content: '';
					position: absolute;
					height: 2px;
					width: 100%;
					top: 50%;
					left: 0;
					margin-top: -1px;
					background: #7c7c7c; 
				}

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}

				&.hairline {

					&::before,
					&::after {
						height: 2px;
					}
				}
			}
		}
	}

 &__no__product {
		margin-top: 50px;
		font-size: 19px;
	}
}

@media all and (max-width: 1250px) {

}

@media all and (max-width: 1575px) and (min-width: 1250px) {
	.cart {
		width: $content_width_2;
	
		&__content {
	
			&__item {
	
				&__image {}
	
				&_content {
	
					&__information {
	
						&__description {}
						&__categories {
							td {}
						}
	
						&__price {}
					}
				}
	
				.close {
					&.hairline {}
				}
			}
		}
	
	 &__no__product {
		
		}
	}
}


@media all and (max-width: 1930px) and (min-width: 1575px) {
  
}

@media all and (max-width: 2560px) and (min-width: 1930px) {
 
}