.cart {
	margin: 0 auto;
	@include reveal(0.5s);
	
	&-main {
		margin: $content_gap 0;

		.cart-content {
			display: flex;
			position: relative;

			.cart-content-products {
				width: 70%;

				.cart-product-item {
					display: flex;
					margin: $content_gap 0;

					.cart-product-item-image {
						width: 60px;
						margin-right: $content_gap;

						img {
							object-fit: cover;
							width: auto;
						}
					}

					.cart-product-item-content {
						display: flex;

						.left-content {
							margin-right: $content_gap;
							display: flex;
							flex-direction: column;
							word-wrap: break-word;
							margin-bottom: 30px;
							max-width: 350px;
							min-width: 150px;

							span {
								margin-bottom: 10px;
							}

							.decription {
								font-weight: 600;
							}

							.remove {
								color: #65737e;

								&:hover {
									cursor: pointer;

									&::before,
									&::after {
										background: $main_color;
									}
								}
							}
						}

						.right-content {
							display: flex;
							justify-content: space-between;

							.counter {
								margin-right: $content_gap;
							}

							.price {
								font-weight: 600;
								line-height: 30px;
							}
						}
					}
				}
			}

			.cart-detailed {
				width: 30%;
				margin: $content_gap auto;
				position: relative;

				.cart-detailed-content {
					//max-width: 300px;
					display: flex;
					flex-direction: column;
					position: sticky;
					top: 100px;

					h3 {
						margin: 0 0 8px;
					}

					.order-cost {
						display: flex;
						justify-content: space-between;
						margin: 8px 0;

						.title {
							margin-right: 5px;
						}
					}
				}
			}
		}

		.cart-content-order {
			//width: 100%;
		}
	}

	&-no-product {
		margin-top: 50px;
		font-size: 19px;
	}
}

@media all and (max-width: 1250px) {
	.cart {
		width: $content_width_2;
	}
}

@media all and (max-width: 1575px) and (min-width: 1250px) {
	.cart {
		width: $content_width_2;
	}
}


@media all and (max-width: 1930px) and (min-width: 1575px) {
	.cart {
		width: $content_width_1;
	}
}

@media all and (max-width: 2560px) and (min-width: 1930px) {
	.cart {
		width: $content_width_1;
	}
}