.product__categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: $content_width_1;
  margin: 0 auto;
	@include  reveal(0.5s);

}

@media all and (max-width: 1250px) {}

@media all and (max-width: 1575px) and (min-width: 1250px) {
  .product__categories {
    width: $content_width_2;
  }
}

@media all and (max-width: 1930px) and (min-width: 1575px) {}

@media all and (max-width: 2560px) and (min-width: 1930px) {}