*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

// SCROLLBAR

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $main_black_color;
  box-shadow: inset 0 0 6px $main_black_color;
}

body::-webkit-scrollbar-thumb {
  background-color: $main_black_color;
  outline: 1px solid slategrey;
}

// END SCROLLBAR

html {
  margin-left: calc(100vw - 100%);
  letter-spacing: 0.1px;
  @include font(400);
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::selection {
  background: #dd6c49;
  color: #fff;
  text-shadow: none;
}

.container {
  margin: 0 auto;
}

img,
.img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}

a {
  outline: none;
  text-decoration: none;
}