*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

// SCROLLBAR

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $main_black_color;
  box-shadow: inset 0 0 6px $main_black_color;
}

body::-webkit-scrollbar-thumb {
  background-color: $main_black_color;
  outline: 1px solid slategrey;
}

html {
  //margin-left: calc(100vw - 100%);
  letter-spacing: 0.1px;
  @include font(400);
  padding: 0;
  position: relative;
  background-color: #fff;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::selection {
  background: #dd6c49;
  color: #fff;
  text-shadow: none;
}

.container {
  margin: 0 auto;
}

img,
.img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}

a {
  outline: none;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  section.content {
    flex: 1;
    width: 100%;
  }

  section.search_content {
    width: 100%;
    margin: 0 auto;
    display: flex;

    .search_wrapper {
      width: $content_width_1;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search {
        width: 50%;
        font-family: $primary_font;

        .search__box__container input#search {
          font-weight: 600;
          font-size: 18px;
        }

        .search__box__container input#search::placeholder {
          font-weight: 400;
          font-size: 15px;
        }
      }
    }
  }
}

@media all and (max-width: 1250px) {

}

@media all and (max-width: 1575px) and (min-width: 1250px) {
  #root {
    section.search_content {
      .search_wrapper {
        width: $content_width_2;
      }
    }
  }
}


@media all and (max-width: 1930px) and (min-width: 1575px) {
  #root {
    section.search_content {
      .search_wrapper {
        width: $content_width_1;
      }
    }
  }
}

@media all and (max-width: 2560px) and (min-width: 1930px) {

}