#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  section {
    flex: 1;
    width: 70%;
    // margin: 0 auto;
    z-index: 10;
    scroll-padding-top: var(--top-spacing);
    margin: var(--top-spacing) auto;
  }
}