.counter {
	display: flex;
	$value: 30px;
	$counter_width: $value;
	$counter_height: $value;

	.counter__minus,
	.counter__plus {
		position: relative;
		display: block;
		width: $counter_width;
		height: $counter_height;
		line-height: $counter_height;
		color: $elements_color;
		font-size: 1rem;
		font-family: 'Times New Roman', Times, serif;
		text-align: center;
		cursor: pointer;
		background-color: $elements_background;
		transition: all 0.5s;
	}

	.counter__minus {
		line-height: $counter_height - 4px;
	}

	.counter__minus::before,
	.counter__plus:before {
		content: '';
		position: absolute;
		width: $counter_width;
		height: $counter_height;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: rgba(255,255,255,0.1);
		transition: all 0.5s;
	}

	.counter__minus:hover::before,
	.counter__plus:hover::before {
		opacity: 0 ;
		transform: scale(0.5,0.5);
	}

	.counter__minus::after,
	.counter__plus::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		transition: all 0.5s;
		transform: scale(1.2,1.2);
		box-sizing: border-box;
	}

	.counter__minus:hover::after,
	.counter__plus:hover::after {
		opacity: 1;
		transform: scale(1,1);
	}

	.counter__input {
		width: $counter_width * 1.5;
		height: $counter_height;
		margin: 0;
		padding: 0;
		text-align: center;
		border: 0;
		outline: none;
		background: #fff;
		font-weight: 600;
		color: $main_black_color;
		box-sizing: border-box;
	}
}