/* FOOTER */

footer {
	height: 200px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	//z-index: 99;
	bottom: 0;
	flex-direction: row;
	font-size: 1.05rem;
	background: $main_black_color;
	color: #fff;

	.footer__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 70%;
		height: 100%;
		margin: 0 auto;

		.footer__column {
			display: flex;
			flex-direction: column;

			a {
				color: #fff;
			}
		}
	}
}

/* END FOOTER */