.products__catalog {
  display: flex;
  //align-items: center;
  flex-direction: column;
  margin: 0 auto;
  @include  reveal(0.5s);

  .products {
    width: (($product_width * 4) + (3 * $content_gap));
    display: grid;
    grid-template-columns: repeat(auto-fill, $product_width);
    grid-template-rows: auto;
    grid-gap: $content_gap;
    margin: $content_gap 0;

    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .product__image {
        background-color: #fff;
        position: relative;
        height: $product_height;

        .product__image__inner {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          overflow: hidden;

            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }

            img:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .product__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $main_black_color;

        .product__info__desc {
          margin: 10px 0;
          overflow: hidden;
        }

        .product__info__price {
          position: relative;

          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1250px) {}

@media all and (max-width: 1575px) and (min-width: 1250px) {
  .products__catalog {
    width: $content_width_2;

    .products {
      grid-template-columns: repeat(auto-fill, $product_width);
      width: $content_width_2;
    }
  }
}

@media all and (max-width: 1930px) and (min-width: 1575px) {
  .products__catalog {
    width: $content_width_1;

    .products {
      grid-template-columns: repeat(auto-fill, $product_width);
      width: $content_width_1;
    }
  }
}

@media all and (max-width: 2560px) and (min-width: 1930px) {}