.products__catalog {
  display: flex;
  justify-content: center;
  width: $content_width_1;
  margin: 0 auto;

  $product_width: ($content_width_1 / 5);

  .products {
    width: (($product_width * 4) + (4 * $content_gap));
    display: grid;
    grid-template-columns: repeat(auto-fill, $product_width);
    grid-template-rows: auto;
    grid-gap: $content_gap;

    @import "product";
  }

  .catalog {
    position: sticky;
    top: 124.3px;
    width: (($product_width * 1) - (4 * $content_gap));
    color: $nav_links_color;
    height: 100%;
    margin-right: $content_gap;
  }

}

@media all and (max-width: 1250px) {

}

@media all and (max-width: 1575px) and (min-width: 1250px) {
  .products__catalog {
    width: $content_width_2;

    $product_width: ($content_width_2/ 4);
  
    .products {
      grid-template-columns: repeat(auto-fill, $product_width);
      width: (($product_width * 3) + (3 * $content_gap));
    }
  
    .catalog {
      width: ($product_width - (3 * $content_gap));
    }
  
  }
}


@media all and (max-width: 1930px) and (min-width: 1575px) {
  
}

@media all and (max-width: 2560px) and (min-width: 1930px) {
 
}