.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-gap: 1em;
  justify-content: center;
  justify-items: center;

  .catalog__navigation {
    background-color: $main_black_color;
    height: 100%;
    width: 25%;
  }

  @import "product";
}

@media all and (max-width: 500px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 991px) and (min-width: 768px) {}

@media all and (max-width: 1377px) and (min-width: 992px) {
  // .products {
  //   width: 100%;
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, auto-fill);
  //   grid-gap: 1.5em;
  //   justify-content: space-between;
  // }
}

@media all and (min-width: 1378px) {}