.product__desc {
  display: flex;
  -webkit-animation: reveal 0.5s ease;
  -webkit-animation-fill-mode: backwards;
  animation: reveal 0.5s ease;
  animation-fill-mode: backwards;
  width: $content_width_1;
  margin: 0 auto;

  .product__desc__image {
    width: 40%;
    margin-right: 40px;
    display: flex;
    justify-content: center;

    img {
      height: auto;
      object-fit: cover;
    }
  }

  .product__desc__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 60%;

    .analog__design {
      background-color: bisque;
      margin: 0px auto;
      width: 100%;
    }

    .information {
      font-family: $primary_font;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .categories {
        font-size: 1.3rem;

        tbody {
          tr {
            td:first-child {
              font-weight: 600;
              padding: 5px 10px 5px 0px;
            }
          }
        }
      }

      .description {
        font-size: 1.5rem;
      }

      .price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 26px;
      }

      .add_to_cart {
        margin-top: 40px;
        // удаляет синее свечение 
        outline: none
      }
    }
  }
}

// @media all and (max-width: 500px) {
//   .nav-quicklist ul>li {
//     flex-basis: 100%;
//   }

//   .nav-quicklist ul {
//     order: 1;
//   }
// }

// @media all and (max-width: 768px) {
//   nav .nav-quicklist ul li a {
//     font-size: 1.1rem;
//   }

//   nav .logo a {
//     font-size: 1.9rem;
//   }
// }

// @media all and (max-width: 991px) and (min-width: 768px) {
//   nav .nav-quicklist ul {
//     flex-wrap: wrap;
//   }

//   nav .nav-quicklist ul>li {
//     flex-basis: 50%;
//   }
// }

@media all and (max-width: 1250px) {
  .product__desc {
    width: $content_width_2;

    .product__desc__block {
      .information {
        .categories {
          font-size: 1rem;

          tbody {
            tr {
              td:first-child {
                font-weight: 600;
                padding: 5px 10px 5px 0px;
              }
            }
          }
        }

        .description {
          font-size: 1.5rem;
        }

        .price {
          font-size: 1.3rem;
          font-weight: 600;
          margin-top: 26px;
        }

        .add_to_cart {
          margin-top: 40px;
        }
      }
    }
  }
}

@media all and (max-width: 1420px) and (min-width: 1250px) {
  .product__desc {
    width: $content_width_2;

    .product__desc__block {
      .information {
        .categories {
          font-size: 1.3rem;

          tbody {
            tr {
              td:first-child {
                font-weight: 600;
                padding: 5px 10px 5px 0px;
              }
            }
          }
        }

        .description {
          font-size: 1.5rem;
        }

        .price {
          font-size: 1.5rem;
          font-weight: 600;
          margin-top: 26px;
        }

        .add_to_cart {
          margin-top: 40px;
        }
      }
    }
  }
}


@media all and (max-width: 1930px) and (min-width: 1420px) {}

@media all and (max-width: 2560px) and (min-width: 1930px) {}