// https://www.vandelaydesign.com/pure-css-slidein-nav-menu/
nav {
  background: $second_color;
  position: relative;
  z-index: 60;

  ul {
    background: $second_color;
    display: flex;
    margin: 0 auto;

    li {
      display: flex;
      padding-right: 30px;

      a.quicklist-main-link {
        font-weight: bold;
        text-transform: uppercase;
        color: $quicklist_color;
        font-family: $quicklist_links_font;
        font-size:  $quicklist_links_font_size;
      }

      ul {
        position: absolute;
        display: none;
        top: 15px;
        left: 0;
        -webkit-box-shadow: 0 5px 6px 0 rgba(0,0,0,0.22);
        -moz-box-shadow: 0 5px 6px 0 rgba(0,0,0,0.22);
        box-shadow: 0 5px 6px 0 rgba(0,0,0,0.22);
        padding: 20px;

        li {
          margin: 0 auto;
          line-height: 20px;
          padding: 5px 0;

          a {
            width: 100%;
            color: $main_black_color;
            font-family: $quicklist_links_font;
            font-size:  $quicklist_links_font_size;
          }

          a:hover {
            color: #7e779e;
          }
        }
      }


    }



    li:hover>ul {
      display: flex;
      flex-direction: column;
      width: 100%;

      li {
        -webkit-animation: nav-anim-left 0.5s ease-in-out;
        -moz-animation: nav-anim-left 0.5s ease-in-out;
        -o-animation: nav-anim-left 0.5s ease-in-out;
        animation: nav-anim-left 0.5s ease-in-out;

        a {
          overflow: hidden;
        }
      }
    }

    li:hover .hidden {
      display: none;
    }
  }



  // triagle
  //ul.nav:first-child>li>a:not(:last-child):after {
  //  position: absolute;
  //  display: inline-block;
  //  content: " ";
  //  width: 0;
  //  height: 0;
  //  top: 45%;
  //  vertical-align: middle;
  //  border-top: 4px solid;
  //  border-right: 4px solid transparent;
  //  border-left: 4px solid transparent;
  //  box-sizing: border-box;
  //  margin-left: 10px;
  //}
}

@keyframes nav-anim-left {
  0% {
    line-height: 0px;
  }
  100% {
    line-height: 20px;
  }
}

@media all and (max-width: 1575px) and (min-width: 1250px) {
  nav {
    width: 100%;
    ul {
      width: $content_width_2;
      li ul li {
        width: $content_width_2;
      }
    }
  }
}


@media all and (max-width: 1930px) and (min-width: 1575px) {
  nav {
    width: 100%;
    ul {
      width: $content_width_1;
      li ul li {
        width: $content_width_1;
      }
    }
  }
}

@media all and (max-width: 2560px) and (min-width: 1930px) {
  nav {
    width: 100%;
    ul {
      width: $content_width_1;
      li ul li {
        width: $content_width_1;
      }
    }
  }
}