.search {
	display: flex;
	align-items: center;
	line-height: 40px;

	&__box {
		&__container {
			display: flex;
			align-items: center;
			border-radius: 10px;

			input#search {
				width: 250px;
				line-height: 40px;
				//padding-left: 15px;
				border: none;
				background-color: #fff;

				::-webkit-input-placeholder {
					color: #65737e;
				}

				:-moz-placeholder {
					color: #65737e;
				}

				::-moz-placeholder {
					color: #65737e;
				}
			}

			input#search:focus {
				border: none;
				outline: none;
				background-color: #dce6f7;
			}

			button.icon {
				border: none;
				background: #65737e;
				width: 50px;
				color: #fff;
				font-size: 10pt;
			}
		}

		&__container:hover button.icon:hover {
			background: #818181;
		}
	}
}