.search {
	display: flex;
	align-items: center;
	line-height: 40px;


	&__box {
		border: 1px solid $main_black_color;

		&__container {
			display: flex;
			align-items: center;
			border-radius: 10px;

			input#search {
				width: 300px;
				line-height: 40px;
				padding-left: 15px;
				border: none;
				background-color: #fff;
				font-family: $quicklist_links_font;
				font-size:  $quicklist_links_font_size;

				::-webkit-input-placeholder {
					color: #65737e;
				}

				:-moz-placeholder {
					color: #65737e;
				}

				::-moz-placeholder {
					color: #65737e;
				}
			}

			input#search:focus {
				border: none;
				outline: none;
				background-color: #dce6f7;
			}

			button.icon {
				border: none;
				background: $main_black_color;
				width: 50px;
				color: #fff;
				font-size: 10pt;
			}
		}

		&__container:hover button.icon:hover {
			background: #818181;
		}
	}
}