.select-box {
	select {
		width: $select_width;
		line-height: $select_height;
		height: $select_height;
		//background: transparent none repeat scroll 0 0;
		color: $main_black_color;
		outline: none;
		border: 1px solid $main_black_color;
		font-size: $select_font_size;
		text-transform: $select_text_transform;
		position: relative;

		option {
			overflow: hidden;
			z-index: 1;
			transition: all 1s ease-out;
			outline: none;
			font-size: 130%;
		}
	}
}
