@font-face {
  font-family: 'MyWebFont';
	src: url('fonts/NexaReplicaRU-Bold.otf');
}

$primary_font: 'Open Sans Condensed', sans-serif;
$nav_links_font: 'MyWebFont', sans-serif;
$logo_font: 'Josefin Sans', sans-serif;

$product_background_color: #ece8da;
$main_black_color: #3d3d3d;
$nav_links_color: #3d3d3d;
$main_color: #464646;
$logo_color: #181515;

@import "normalize.scss";
@import "common.scss";
@import "header.scss";
@import "content.scss";
@import "footer.scss";
@import "home.scss";
@import "products.scss";
@import "product.scss";
@import "cart.scss";
@import "../common/components/button/button.scss";
@import "../common/components/quantity/quantity.scss";
@import "../common/components/search/search.scss";

