@font-face {
  font-family: 'NexaReplicaRU';
	src: url('fonts/NexaReplicaRU-Bold.otf');
}

$primary_font: 'Open Sans Condensed', sans-serif;
$nav_links_font: 'NexaReplicaRU', sans-serif;
$logo_font: 'NexaReplicaRU', sans-serif;

$product_background_color: #ece8da;
$main_black_color: #3d3d3d;
$nav_links_color: #3d3d3d;
$main_color: #464646;
$logo_color: #181515;

$logo_font_size: 2.3rem;
$nav_links_font_size: 0.85rem;

$element_width: 250px;
$element_height: 60px;
$element_font_size: 1.2rem;
$element_text_transform: uppercase;

$content_gap: 30px;
$product_width: 350px;
$product_height: $product_width * 1.414;
$product_desc_width: 450px;
$product_desc_height: $product_desc_width * 1.414;

$content_width_1: ((($product_width * 4) + (3 * $content_gap))); //  ((($item_width * 4) + (4 * $content_gap)) + ($item_width - (4 * $content_gap)))
$content_width_2: ((($product_width * 3) + (2 * $content_gap))); //((($item_width * 3) + (3 * $content_gap)) + ($item_width - (3 * $content_gap)))

@import "normalize";
@import "common";
@import "header";
@import "content";
@import "footer";
@import "home";
@import "products";
@import "product_variant";
@import "carousel";
@import "cart";
@import "circle";
@import "checkout";
@import "../common/components/button/button";
@import "../common/components/counter/counter";
@import "../common/components/search/search";
@import "../common/components/breadcrumbs/breadcrumbs";
@import "../common/components/select/select";
@import "../common/components/input/input";
