@font-face {
  font-family: 'Raleway_Black';
	src: url('fonts/Raleway-v4020-Black.otf');
}

@font-face {
  font-family: 'Raleway_SemiBold';
	src: url('fonts/Raleway-v4020-Medium.otf');
}

@font-face {
  font-family: 'NexaReplicaRU';
	src: url('fonts/NexaReplicaRU-Bold.otf');
}

$primary_font: 'Open Sans Condensed', sans-serif; // Open Sans Condensed
$nav_links_font: 'NexaReplicaRU', sans-serif;
$logo_font: 'NexaReplicaRU', sans-serif; // Josefin Sans

$product_background_color: #ece8da;
$main_black_color: #3d3d3d;
$nav_links_color: #3d3d3d;
$main_color: #464646;
$logo_color: #181515;

$logo_font_size: 2.3rem;
$nav_links_font_size: 0.8rem;
$content_gap: 30px;
$item_width: 300px;
$content_width_1: ((($item_width * 4) + (4 * $content_gap)) + ($item_width - (4 * $content_gap)));
$content_width_2: ((($item_width * 3) + (3 * $content_gap)) + ($item_width - (3 * $content_gap)));

@import "normalize.scss";
@import "common.scss";
@import "header.scss";
@import "content.scss";
@import "footer.scss";
@import "home.scss";
@import "products.scss";
@import "product.scss";
@import "product_desc.scss";
@import "cart.scss";
@import "circle.scss";
@import "checkout.scss";
@import "../common/components/button/button.scss";
@import "../common/components/quantity/quantity.scss";
@import "../common/components/search/search.scss";
@import "../common/components/breadcrumbs/breadcrumbs.scss";
@import "../common/components/select/select.scss";
@import "../common/components/input/input.scss";
