.quantity {
	display: flex;
	justify-content: center;
	padding: 0;
	width: 50%;

	.quantity__minus,
	.quantity__plus {
		display: block;
		width: 32px;
		height: 32px;
		margin: 0;
		color: #fff;
		font-weight: 600;
		background: #b6b6b6;
		text-decoration: none;
		text-align: center;
		line-height: 32px;
		cursor: pointer;
	}

	.quantity__minus:hover,
	.quantity__plus:hover {
		background: #b6b6b6;
		color: #fff;
	}

	// .quantity__plus:active {
	// 	-webkit-transform: translateY(-1em);
	// }

	// .quantity__minus:active {
	// 	-webkit-transform: translateY(1em);
	// }

	.quantity__minus {
		border-radius: 3px 0 0 3px;
		counter-reset: inherit;
	}

	.quantity__plus {
		border-radius: 0 3px 3px 0;
	}

	.quantity__input {
		width: 48px;
		height: 32px;
		margin: 0;
		padding: 0;
		text-align: center;
		border-top: 2px solid #b6b6b6;
		border-bottom: 2px solid #b6b6b6;
		border-left: 1px solid #b6b6b6;
		border-right: 2px solid #b6b6b6;
		background: #fff;
		font-weight: 600;
		color: $main_black_color;
	}

	.quantity__minus:link,
	.quantity__plus:link {
		color: $main_black_color;
	}

	.quantity__minus:visited,
	.quantity__plus:visited {
		color: #fff;
	}
}